{
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "@typescript-eslint/quotes": [
        "error",
        "single",
        {
          "allowTemplateLiterals": true
        }
      ]
}